account.hcl
terraform.tfstate*
*.terraform*
*.terragrunt-cache*
.DS_Store
*.cache*
__pycache__
.wget-hsts
.bash_history
*.zip*
*deps/
*tmp*
*docker-pgsql-volume*
/node_modules
/package-lock.json
/yarn.lock
/yarn-error.log
*personal_docker_setup.sh*
/*.egg-info
/build*